.footer-btn {
  display: inline-block;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
}
.footer-btn:hover {
  text-decoration: underline;
}

.footer-btn span {
  font-size: 13px;
}