.activee .sidebar__title{
  color: #f27a1a !important;
}

.activee {
  box-shadow: inset 0 -2px 0 0 #f27a1a;
}

.sidebar {  
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sidebar-item {
  position: relative;
  &:hover {
  box-shadow: inset 0 -2px 0 0 #f27a1a;
  }
}

.sidebar-item:hover .nav__sub--list {
  display: block;
}

.navbar-item:hover .enable{
  max-height: 350px;
}

#navigation-wrapper {
  background-color: #fff;
  border: none !important;
  border-bottom: 1px solid #e8e8e8 !important;
  height: 34px;
  box-shadow: none !important;
  position: relative;
  z-index: 900;
}

nav ul.main-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
}

nav ul.main-nav .tab-link {
  flex-shrink: 0;
  flex-grow: 1;
}

nav ul.main-nav .tab-link .category-header {
  font-family: "source_sans_prosemibold",sans-serif !important;
  font-weight: 600;
  color: #333;
  font-size: 12px;
  line-height: 34px;
  padding: 0;
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
  letter-spacing: 0.18px;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 920px) {
  
  nav ul.main-nav .tab-link {
    display: flex;
    flex-shrink: inherit;
    flex-wrap: wrap;
  }
  nav ul.main-nav .tab-link:not(first-child) {
    margin: 0 5px;
  }

// category-header
}

@media screen and (max-width: 768px) {

  #navigation-wrapper {
    height: 0px;
  }

  .main-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    justify-content: inherit;
  }

  .main-nav.clicked {
    background: #242222;
    top: 0px;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .category-header {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }


  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-20%, -130%);
    font-size: 1.8rem;
    cursor: pointer;
    padding: 0 6px;
  }

  .fa-times {
    font-size: 2.3rem;
  }

  nav ul.main-nav li.tab-link {
    flex-shrink: 0;
    flex-grow: inherit;
    margin-top: 20px;
  }

  .category-header .sidebar__title {
    color: #e8e8e8;
  }
  
}

