// .woman__links {
//   display: flex;
//   margin-top: 15px;
//   width: 70%;
// }

:root {
  --index: 0;
}

.slider-wrapper {
  overflow: hidden;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.slider {
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  display: flex;
  transform: translateX(calc(var(--index) * -1320px));
  transition: transform 1s ease;
}

.slider-item {
  flex-shrink: 0;
  width: 115px;
  height: 120px;
  border-radius: 50%;
  box-sizing: inherit;
}

.left-btn {
  position: absolute;
  left: 0;
  top: 0;
}

.right-btn {
  position: absolute;
  right: 0;
  top: 0;
}