.header__btn {
  display: inline-block;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-top: 0;
}

.header__title{
  font-family: "source_sans_prosemibold",sans-serif !important;
  -webkit-font-smoothing: antialiased;
  font-size: 13px;
  color: #333333;
  padding-left: 5px;
  margin-top: 2px;
  transition: all ease 0.3s;
  padding: 0;
  &:hover {
    // color: #FF671D;
    cursor:  pointer;
  }
}