body{
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background: #fff;
  height: 100vh;

}

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
}

.container{
  width: 1200px;
  margin: 0 auto;
}
