body{
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background: #fafafa;
  height: 100vh;
  overflow: auto;
}

a {
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p, button{
  margin: 0;
  padding: 0;
}

*,*::before, *::after {
  box-sizing: border-box;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.header-wrapper  {
  background-color: #fff;
  border: none !important;
  border-bottom: 1px solid #e8e8e8 !important;
  box-shadow: none !important;
}

.header-button-line {
  border-bottom: 1px solid red;
}

@media screen and (max-width: 1160px) {
  .container {
    padding: 0 20px;
  }
}
