.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #000;
  color: #fff;
}

#footer-container .footer .footer__wrapper {
  padding-top: 50px;
  padding-bottom: 55px;
  display: flex;
  justify-content: space-between;
  width: 1080px;
  box-sizing: border-box;
}

.footer__wrapper--title {
  text-decoration: none;
  font-size: 24px;
}



.footer__link {
  text-decoration: none;
}

.footer-cards {
  margin-top: 20px;
}

.footer-cards__wrapper {
  display: flex;
  align-items: center;
  margin-top: 32px;
  height: 100%;
}


.footer-cards__troy {
  background: url('../../assets/images/footer-troy.png') no-repeat;
  display: inline-block;
  width: 56px;
  height: 26px;
  margin-right: 13px;
  background-size: cover;
}

.footer-cards__master {
  background: url('../../assets/images/footer-master-card.png') no-repeat center left;
  width: 62px;
  height: 35px;
  display: inline-block;
  position: relative;
  top: 4px;
  background-size: contain;
}

.footer-cards__viza {
  background: url('../../assets/images/footer-visa-black.png') no-repeat center left;
  width: 75px;
  height: 24px;
  display: inline-block;
  background-size: cover;
  position: relative;
  top: 3px;
  margin-left: -14px;
}

.footer-cards__social-wrapper {
  display: flex;
  flex-direction: column;
}

.footer__wrapper--mediumTitle {
  font-weight: 600;
  font-size: 16px;
}

.footer__wrapper--socialImage {
  list-style-type: none;
  text-indent: -1000px;
  background: url("https://cdn.dsmcdn.com/web/production/social-and-app-iconset.png") no-repeat 0 0;
}

.footer__wrapper--socialImage.app {
  height: 40px;
  display: list-item;
  margin-top: 10px;
}

.footer__wrapper--socialImage.app.app-ios {
  background-position: -240px 0 !important;
  width: 155px;
}

.footer__wrapper--socialImage.app.app-android {
  background-position: -405px 0 !important;
  width: 155px;
}

.footer__wrapper--socialImage.app.app-huawei {
  background-position: -570px 0 !important;
  width: 155px;
}


//=========== FOOTER- BOOTOM  ===========
.bandInfo {
  padding: 10px;
  background: #2d2d2d;
  margin-right: 0px;
  display: flex;
  justify-content: center;
}
.bandInfo__wrapper {
  width: 1080px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bandInfo__wrapper .bandInfo__wrapper__left {
  font-size: 12px;
  color: white;
  font-weight: bold;
}
.bandInfo__wrapper__right--inner {
  display: flex;  
  align-items: center;
}

.bandInfo__wrapper .bandInfo__wrapper__right .banfInfo__link {
  color: white;
  flex-wrap: wrap;
  padding: 0 10px;
  font-size: 12px;
  float: right;
  cursor: pointer;
}
