.container-wrapper {
  display: flex;
  justify-content: space-between;
}
.container-left {
  max-width: 65%;
  width: 100%;
}
// .body-reklama--link {
//   text-decoration: none;
// }
.body-reklama--img {
  width: 100%;
  transform: scale(1.015);
  width: 100%;
  display: block;
  position: relative;
  transition: transform 1s ease;
  height: 217px;
  border: 0;
  margin: 15px 0;
  border-radius: 9px;
}

.container-right {
  max-width: 30%;
  position: relative;
  z-index: 30;
}

.slider__inner {
  border-radius: 50px;
  margin-top: 15px;
  border-radius: 20px;
}


.slider__link {
  display: block;
  border-radius: 20px;
}

.slider__img {
  display: inline-block;
  margin-left: auto;
  border-radius: 8px;
}



// @media only screen and(max-width: 1000px) {

//   .slider__img {
//     height: 300px;
//     object-fit: cover;
//   }
// }

// @media only screen and(max-width: 666px) {

//   .slider-item {
//     max-width: 100vw;
//     position: relative;
//     height: 300px;
//   }
  
//   .slider-controller {
//     width: 35px;
//     height: 40px;
//   }
  
//   .slider__img {
//     position: absolute;
//     z-index: 100;
//     max-width: 100%;
//     height: 300px;
//     padding-left: -300px;
//   }
// }